page-saved-screen {
 .custom-icon {
    display: block;
    font-size: 7.2em;
    text-align: center;
    color: white;
 }
 .saved {
   display: block;
   font-size: 3.2em;
   text-align: center;
   color: white;
 }
}
