page-view-reminders {
  background-color: rgba(204, 204, 204, 1);
  .cheader ion-toolbar {
    height: 10vh !important;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    .toolbar-background {
      // background-color: rgba(170, 171, 175, 1) ;
      background: linear-gradient(180deg, #A2A4A7 0, #FFFFFF 95%);/* W3C */
    }
  }
  .view-reminder-button {
    background-color: rgba(249, 183, 0, 1);
  }
  .driverbutton {
    background-color: white !important;
  }
  .item{
    padding-left: 4px;
  }
  .arrow {
    font-size: 1.7em;
    line-height: 1.4em;
  }
  .footer::before {
    content: none;
  }
}
