page-edit-reminder {
  background-color: rgba(204, 204, 204, 1);
  .cheader ion-toolbar {
    height: 10vh !important;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    .toolbar-background {
      // background-color: rgba(170, 171, 175, 1) ;
      background: linear-gradient(180deg, #A2A4A7 0, #FFFFFF 95%);/* W3C */
      
    }
  }
  .footer::before {
    content: none;
  }
  .deleteButton {
    background-color: rgba(158, 9, 15, 1);
    color: white;
  }


}
